.toplevel {
  max-width: 100%;
  border-bottom: 12px solid black;
  position: relative;
}
.toplevel img {
  max-width: 100%;
}
.toplevel .blackbar {
  position: relative;
}

h1 {
  font-family: arial, sans-serif;
  font-size: 4.4em;
  color: white;
  letter-spacing: .02em;
  text-align: center;
  position: absolute;
  bottom: -14px;
  margin-left: 8%;
  word-spacing: -.1em;
}

.buttons {
  height: 100px;
  max-width: 480px;
  text-align: center;
  margin: 36px 0 48px 0;
}
.buttons a {
  font-family: 'arvo', serif;
  font-size: 1.4em;
  text-decoration: none;
  color: white;
}
.buttons .contact a {
  background-color: #0099ff;
  border-radius: 2px;
  padding: 6 40 6 40px;
}
.buttons .portfolio a {
  background-color: #ffcc00;
  border-radius: 2px;
  padding: 6 36 6 36px;
}
.buttons .retailsite a {
  background-color: #ff0066;
  border-radius: 2px;
  padding: 6 28 6 28px;
}
.buttons li {
  margin: 24 0 24 0;
}

@media screen and (min-width: 500px) {
  .toplevel {
    border-bottom: none;
    max-width: 100%;
    height: 100%;
  }

  .toplevel img {
    height: 100%;
  }

  h1 {
    font-size: 6.5em;
    letter-spacing: .03em;
    bottom: -18px;
    color: #707070;
    float: right;
    bottom: 550px;
    right: 60px;
  }

  .buttons {
    position: absolute;
    right: 200px;
    top: 250px;
  }
}
